{% extends "base.html" %}
{% load static %}


{% block page_header %}
{% endblock %}


{% block content %}

<!--MOBILE COVER-->
<div class="container w-100 mt-5 pt-2 text-center background-none mob-nav-header">
    <div class="col-md-8 m-auto">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100 ">
                <input class="form-control border rounded-left py-2 border-secondary" type="text" name="q"
                    placeholder="Shimano, Trek...">
                <div class="input-group-append ">
                    <button class=" btn btn-black text-center border border-secondary rounded-right" type="submit">
                        <span class="icon  ">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="mt-2 mob-nav-header">
    <div class="album_photo_container">
        <div class="album_item ">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1478278307695-d63046a5becb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                    class="album_photo" alt="Three road cyclist standing and chatting">
            </div>
            <div class="image_description">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <h2 class="font-weight-bold display-5 text-uppercase title-spacing mt-3">Welcome to Cyclo
                        Domestique!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CAROUSEL START-->
<div id="carouselCaptions" class="carousel slide carousel-fade mob-nav-header-hide  " data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item main-carousel-item active ">
            <div class="d-flex justify-content-center">
                <img src="https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="d-block w-100" alt="cover-1">
            </div>
            <div class="carousel-caption  w-100 h-100">
                <div class="text-center font-italic caption-text w-100 py-4">
                    <h1 class="display-4">Any Bike, Any Budget</h1>
                    <h3 class="font-weight-bolder">Explore a range of bikes for all family</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item main-carousel-item ">
            <div class="d-flex justify-content-center">
                <img src="https://images.unsplash.com/photo-1555482000-9ea363917a18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="d-block w-100" alt="cover-2">
            </div>
            <div class="carousel-caption  w-100 h-100">
                <div class="text-center font-italic caption-text w-100 py-4">
                    <h1 class="display-4">Does your bike need some TLC?</h1>
                    <h3 class="font-weight-bolder">We offer extensive bike servicing for any bike</h3>
                </div>
            </div>
        </div>
        <div class="carousel-item main-carousel-item ">
            <div class="d-flex justify-content-center">
                <img src="https://images.unsplash.com/photo-1571169205612-9eae9d2027ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    class="d-block w-100" alt="cover-3">
            </div>
            <div class="carousel-caption  w-100 h-100">
                <div class="text-center font-italic caption-text w-100 py-4">
                    <h1 class="display-4">Free delivery on order over £70.00</h1>
                    <h3 class="font-weight-bolder">In-store collections available</h3>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
        <span class="fas fa-caret-left p-0 text-light" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
        <span class="fas fa-caret-right p-0 text-light" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--SEARCH START-->
    <div class="carousel-caption  w-100 h-50 text-center background-none">
        <div class="col-md-4 m-auto">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border rounded-left py-4 border-secondary" type="text" name="q"
                        placeholder="Shimano, Trek...">
                    <div class="input-group-append ">
                        <button class=" btn btn-black text-center border border-secondary rounded-right" type="submit">
                            <span class="icon  ">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--SEARCH END-->
</div>


<!--PRODUCTS CATEGORIES START-->

<div class="album_container mt-3">
    <div class="album_photo_container">
        <div class="album_item ">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1552434195-d7e9db6cacd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                    class="album_photo" alt="Three road cyclist standing and chatting">
            </div>
            <div class="image_description">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <h2 class="font-weight-bold display-5 text-uppercase title-spacing mt-3">Road Bikes</h2>
                    <h4 class="font-weight-bold display-6 text-uppercase title-spacing">best lightweight machines</h4>
                    <a class="btn silver-color my-3 text-white  text-uppercase title-spacing"
                        href="{% url 'products' %}?category=road_bikes">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="album_photo_container">
        <div class="album_item ">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1508763718304-b2ddedcc2e88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                    class="album_photo" alt="two mountain bikers riding down a path in autumn leafs">
            </div>
            <div class="image_description">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <h2 class="font-weight-bold display-5 text-uppercase title-spacing mt-3">Mountain Bikes</h2>
                    <h4 class="font-weight-bold display-6 text-uppercase title-spacing">Fast, light and even electrified
                    </h4>
                    <a class="btn  silver-color my-3 text-white text-uppercase title-spacing"
                        href="{% url 'products' %}?category=mountain_bikes">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-1 album_photo_container">
        <div class="album_item">
            <div class="image ">
                <img src="https://images.unsplash.com/photo-1547278786-125863d9ba64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                    class="album_photo" alt="Kid riding bike in sunset next to monument">
            </div>
            <div class="image_description">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <h2 class="font-weight-bold display-5 text-uppercase title-spacing mt-3">Kids Bikes</h2>
                    <h4 class="font-weight-bold display-6 text-uppercase title-spacing">For up and coming riders</h4>
                    <a class="btn silver-color my-3 text-white text-uppercase  title-spacing"
                        href="{% url 'products' %}?category=kids_bikes">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-1 album_photo_container">
        <div class="album_item ">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1653548240576-6c1b5a97a675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                    class="album_photo" alt="road bike with deep section front wheel from profile">
            </div>
            <div class="image_description">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                    <h2 class="font-weight-bold display-5 text-uppercase title-spacing mt-3"> Bike Wheels</h2>
                    <h4 class="font-weight-bold display-6 text-uppercase title-spacing">Sticky Tyres and Performance
                        Wheels</h4>
                    <a class="btn silver-color my-3 text-white text-uppercase  title-spacing"
                        href="{% url 'products' %}?category=wheel_hubs,tyres_tubes">Explore</a>
                </div>
            </div>

        </div>
    </div>
</div>



<!--BEST PRODUCTS START-->

<div class="container-fluid my-5 ">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-5 text-center pl-3"> Best selling products</h3>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!--data-interval="true"-->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner col-12 pl-4 ">
            <div class="carousel-item active">
                <div class="row justify-content-center text-center">
                    <div class="col px-0">
                        <div class="product-container px-2">
                            <div class="col ">
                                {% for product in products %}
                                {% if product.sku == 'SKU71331904' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold ">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0  d-none d-md-block d-lg-block d-xl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU71286469' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0  d-none  d-lg-block d-xl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                <!-- 3-->
                                {% for product in products %}
                                {% if product.sku == 'SKU70762615' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0 d-none   d-block-mid   d-xl-block ">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU93918118' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0 d-none d-block-large  d-xxl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU93199412' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span>
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center text-center">
                    <div class="col px-0">
                        <div class="product-container px-2">
                            <div class="col ">
                                {% for product in products %}
                                {% if product.sku == 'SKU91190901' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold ">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span>
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0  d-none d-md-block d-lg-block d-xl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU91313713' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0  d-none  d-lg-block d-xl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU70013703' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0 d-none   d-block-mid   d-xl-block ">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU91598804' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col px-0 d-none d-block-large  d-xxl-block">
                        <div class="product-container px-2">
                            <div class="col">
                                {% for product in products %}
                                {% if product.sku == 'SKU91027901' %}
                                <div class="col mb-4 card-size card-size-responsive px-0">
                                    <div class="card h-100 ">
                                        {% if product.image %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid  align-middle"
                                                src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a class=" image-size image-size-responsive"
                                            href="{% url 'product_details' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                                alt="{{ product.name }}">
                                        </a>
                                        {% endif %}
                                        <div class="card-body d-block align-self-stretch px-3 pt-2 pb-1">
                                            <div class=""> {{product.brand}} </div>
                                            <div class="dropdown-divider"></div>
                                            <div>
                                                <h5
                                                    class="card-title mb-2 title-height font-responsive font-weight-bold">
                                                    {{ product.name }} - <span><strong>Size:</strong>
                                                        {{product.size}}</span></h5>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider"></div>
                                        <div
                                            class="card-footer bg-white pt-0 px-0 border-0 d-flex justify-content-center">
                                            <div class="dropdown-divider"></div>
                                            <small class="font-responsive pr-2"><strong>Color:</strong>
                                                {{product.color}}</small>
                                            {% if product.rating %}
                                            <small class="font-responsive"><i
                                                    class="fas fa-star mx-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                            <small class="font-responsive">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-warning" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class=" carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--STORE MESSAGE START-->
<hr>
<div class="container col-12 py-5 rounded mb-5">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-5 text-center pl-3"> EXPERIENCE OUR BIKES
                & IN-STORE SERVICES</h3>
        </div>
    </div>
    <div class="row row align-items-center text-center ">
        <div class="col">
            <p class="lead text-dark  my-5">Whether you ride on the road, on the trails, with the kids, or around
                town we have a huge range of the latest road bikes, mountain bikes, kids bikes and hybrid bikes from all
                the very best brands ready for you to choose from. Thinking about trying an electric bike? You have come
                to the right place.</p>
            <p class="lead text-dark my-5">We hare here to help you find your adventure, no matter what that adventure
                may be. That is why we not only
                have the best brands, but also offer cycle hire and bike repair services.
                We are bike riders, and our team are here to help whether you shop with us online, in one of our
                stores or via our expert sales team. </p>

            <a href="{% url 'products' %}"
                class="btn text-center text-uppercase border gold-color font-weight-bold mx-3 px-4">Shop Now
            </a>
            <a href="{% url 'contact' %}"
                class=" btn  text-center text-uppercase border gold-color  font-weight-bold mx-3 px-3">Ask Question
            </a>
        </div>
    </div>
</div>
<hr>
<!--SERVICING CONTAINER START-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold my-5 text-center pl-3"> Bike Servicing</h3>
        </div>
    </div>
    <div class="row justify-content-between text-center">
        <div class="col-md-6 col-lg-4 px-0 py-2">
            <div class="album_item">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1497515098781-e965764ab601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80"
                        class="album_photo" alt="road bike with deep section front wheel from profile">
                </div>
                <div class="image_description">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                        <h2 class="font-weight-bold text-uppercase title-spacing font-responsive-1"> Bronze Service</h2>
                        <h4 class="font-weight-bold text-uppercase title-spacing font-responsive-2">12 point check and
                            basic chainset service</h4>
                        <a class="btn btn-primary bronze-color my-3 text-white text-uppercase font-weight-bold title-spacing"
                            href="/products/38/">Bronze
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 px-2 py-2 no-pading">
            <div class="album_item">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1499438182938-87d87862e154?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80"
                        class="album_photo" alt="road bike with deep section front wheel from profile">
                </div>
                <div class="image_description">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                        <h2 class="font-weight-bold text-uppercase title-spacing font-responsive-1">Silver Service</h2>
                        <h4 class="font-weight-bold text-uppercase title-spacing font-responsive-2">20 point check +
                            Bronze service and bearing service</h4>
                        <a class="btn btn-primary silver-color my-3 text-white text-uppercase font-weight-bold title-spacing px-4"
                            href="/products/37/">Silver
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 px-0 py-2">
            <div class="album_item">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1503669678209-c68d00b3765d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80"
                        class="album_photo" alt="road bike with deep section front wheel from profile">
                </div>
                <div class="image_description">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100 ">
                        <h2 class="font-weight-bold text-uppercase title-spacing font-responsive-1">Gold Service</h2>
                        <h4 class="font-weight-bold text-uppercase title-spacing font-responsive-2">30 point check +
                            silver and full frameset service
                        </h4>
                        <a class="btn btn-primary gold-color my-3 text-white text-uppercase font-weight-bold title-spacing px-5"
                            href="/products/36/">Gold</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--COMMUNITY CONTAINER START-->
<div class="container col-12 pt-5 mb-5">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-5 text-center pl-3"> Our community work</h3>
        </div>
    </div>
    <div class="row row align-items-center text-center">
        <div class="col-lg-6">
            <p class="lead text-dark my-3">We love cycling! And right from the start, we have sought to share our
                passion for two-wheeled travel with our local communities.</p>

            <p class="lead text-dark my-3">We also deliver community maintenance classes
                and bike events. For beginners' we host road rides every Wednesday at 6pm and MTB ride in Shorne Woods
                every Friday at 5pm, you can find their facilities on site here: <a href="https://www.kent.gov.uk/leisure-and-community/kent-country-parks/find-a-kent-country-park/shorne-woods-country-park" target="_blank" rel="nofollow"><nobr>Park facilities</nobr></a>
                 and all about parking here: <a href="https://www.kent.gov.uk/leisure-and-community/kent-country-parks/find-a-kent-country-park/shorne-woods-country-park/parking" target="_blank" rel="nofollow"><nobr>Parking at the park </nobr></a>.</p>
            
            <p class="lead text-dark my-3"><em>No booking needed just come and ride with us..</em></p>

            <p class="lead text-dark my-3">We also enjoy offering proactive support to our local charity partners by
                participating in fundraising
                events, offer event support and raise awareness. </p>

            <div>
                <a href="{% url 'about' %}"
                    class="btn text-center text-uppercase border gold-color font-weight-bold mx-3 m-2 px-4">About Us</a>
                <a href="{% url 'contact' %}"
                    class=" btn  text-center text-uppercase border gold-color  font-weight-bold mx-3 m-2 px-3">Contact
                    Us</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 px-0 ">
            <img src="https://images.unsplash.com/photo-1515164084382-4ac60f929e06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80"
                class="img-fluid rounded-corners pt-5" alt="Placeholder">
        </div>
    </div>
</div>


{% include "includes/footer.html" %}
{% endblock %}