{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container header-mobile">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}        <!--Order confirmation FORM view-->
<div class="ml-3">
    <div class="col-md-12 px-0 mb-1">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0 mb-0  small">
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/">/home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/basket">basket</a></li>
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/checkout/checkout_success/ {{ order.order_number }}">checkout-success</a></li>
          </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-5 text-center pl-3"> Order Details </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-none d-md-block d-lg-block d-xl-block"></div>    
        <div class="col-12 col-md-8 ">

            <form method="POST" action="{% url 'edit_order' order.order_number %}" class="form bg-light rounded " enctype="multipart/form-data">
                <h5 class="pl-3 bg-success rounded-top text-white font-weight-normal small py-2 mb-0">Edit Order</h5>
                <div class="px-3"> 
                    <p class="pt-1 m-0 small"><span class="font-weight-bold pr-2">You are edit Order No.:</span>{{ order.pk}}</p>
                    <p class="pt-1 m-0 small"><span class="font-weight-bold pr-2">Received from:</span>{{ order.email}}</p>
                    <p class="pt-1 m-0 small"><span class="font-weight-bold pr-2">Dated:</span>{{ order.date}}</p>
                </div>
                {% csrf_token %}
                <div class="px-3 mt-2">
                    {% for field in form %}
                        {{ field | as_crispy_field  }}
                    {% endfor %}
                </div>
                <div class="text-right py-3 mb-5">
                    <a class="btn  btn-dark rounded flex-column py-1 mr-3" href="{% url 'site_orders' %}">Back to Site Orders</a>
                    <button class="btn btn-success rounded flex-column py-1 float-right" type="submit">Save Changes</button>
                </div>
            </form>
        <div class="col-2 d-none d-md-block d-lg-block d-xl-block"></div>      
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock %}