{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-black text-uppercase font-weight-bold mb-5 text-left pl-3"> Order History</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ml-3">
                <p class="text-light bg-success rounded py-1 px-1">Your Purchases</p>
                {{ orders }}
            </div>
        </div>
    </div>
    
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}