{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mb-2 mt-5">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-5 text-left pl-3 "> Shopping Basket </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-light bg-dark ">
                        <tr>
                            <th scope="col" class="font-weight-normal">Product Info</th>
                            <th scope="col" class="font-weight-normal">Product Name</th>
                            <th scope="col" class="font-weight-normal pr-5">Size</th>
                            <th scope="col" class="font-weight-normal">Price</th>
                            <th scope="col" class="font-weight-normal px-5">Qty</th>
                            <th scope="col" class="font-weight-normal">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.product.size }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0 poundSign currency">{{ item.product.price }}</p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0 poundSign currency">{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3 wrapper ">
            <aside>
                {% if basket_items %}
                <div class="table-responsive rounded border py-4 px-2 bg-light ">
                    <div>
                        <div class="text-right mr-2">
                            <h6>Basket Total: <span class="poundSign currency">{{ total|floatformat:2 }}</span></h6>
                            <h6>Delivery: <span class="poundSign currency">{{ delivery|floatformat:2 }}</span></h6>
                            <h5 class="mt-4"><strong>Grand Total: <span class="poundSign currency">{{ grand_total|floatformat:2 }}</span></strong></h5>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger small">
                                    Spend <strong><span class="poundSign currency">{{ free_delivery_delta }}</span></strong> to get free standard delivery!
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <div class="text-right mr-2">
                            <a href="{% url 'checkout' %}" class="btn btn-success rounded-1">
                                <span class="">Continue to Payment</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>                     
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5  border">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Add items to basket to view them here.</span>
                    </a>
                {% endif %}
                </div>
            </aside>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/update_qty.html' %}
{% endblock %}
