html {
    height: 100%;
    margin: 0;
}

body {
    /*height: calc(100vh - 100px);*/
    position: relative;
    padding-bottom: 60px;
    min-height: 100%;
    font-family: 'Lato';
}

.container {
    padding-bottom: 100px; 

}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


.border-black {
    border: 1px solid black !important;
}

.new_height{
    height: 300px;
}
/*navbar*/
#navbarNav .navbar-nav .nav-link {
    color: #ffffff;
    /*font-weight: bolder;*/
}
.bg-white #navbarNav .navbar-nav .nav-link {
    color: #000000;
    /*font-weight: bolder;*/
}
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand-white {
    color: #ffffff  !important;
    font-weight: bold;
}

.navbar-expand-lg {
    -webkit-transition: all .35s;
    transition: all .35s;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 10;
    width: 5%;
}
.carousel-control-next span, .carousel-control-prev span {
    font-size: 44px;
}
.main-carousel-item {
    height: 100vh;
    min-height: 360px;
}
.carousel-caption {
    background-color: rgba(2, 2, 2, 0.35);
    left: 0;
    bottom: 0;
}
.carousel-caption .caption-text {
    position: absolute;
    top: calc(50% - 163px);
    text-shadow: 1px 1px 0 black;
}
#navbarNav .nav-item .login:hover {
    color: #ffffff;
}

/*main card*/

.card:hover {
    box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.10)!important;
}

.card-size{
    min-width: 310px;
    max-width: 318px;
}

.poundSign:before{
    content: '£';
}

.image-size{
    min-height: 285px;
}

/* back to top button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: black !important;
    border-radius: 25px;

}

.btt-button:hover {
    background-color: white !important;

}

.fa-arrow-up{
    color: white !important;
}

.fa-arrow-up:hover{
    color: black !important;
}

.btt-link,
.update-link,
.remove-item  {
    cursor: pointer;
}

/* Sticky footer styles */

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f8f9fa !important;
    z-index: 1030;
    /* Set the fixed height of the footer here */
    height: 60px;
    
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    

}

.footer > p {
      line-height: initial;
}

.footer a {
    color: #f8f9fa !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    max-height: 335px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* test show on hover basket */

.hide-test {
    display: none;
}

.show-basket-test:hover + .hide-test {
    display:block;
    position:absolute;
    z-index: 999999;
    width: 340px;
    left: -110px;
    top: 72px;
    right: 15px;

}

.basket-preview-wrapper {
    max-height: 370px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* sticky checkout */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  
    @media (min-width: 32rem) {
      grid-template-columns: 250px minmax(10px, 1fr);
    }
  
    > * {
      padding: 1rem;

    }
  }
  
  aside {
    position: sticky;
    top: 90px;
    align-self: start;
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 60px;
    }
}

@media (max-width: 991px) {
    .main-carousel-item {
        height: auto;
        max-height: 640px;
    }
    #navbarNav .navbar-nav .nav-link {
        color: #000;
    }
    .navbar-light {
        background-color: #ffffff !important;
        padding-top: 8px !important;
    }
    .navbar-brand {
        opacity: 1;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 15%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1280px !important;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1400px !important;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
