html {
    height: 100%;
    margin: 0;
}

body {
    padding-bottom: calc(20vh);
    position: relative;
    min-height: 100%;
    font-family: 'Lato';
    overflow-x: hidden;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    text-decoration: none !important;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.new_height{
    height: 300px;
}
/*navbar*/

.nav-logo, .nav-logo:hover {
    color: #ffffff;
    font-size: larger;
    text-decoration: none !important;
}

.bg-white .nav-logo {
    color: #000000;
    font-weight: bold;
    text-decoration: none !important;
}

#navbarNav .navbar-nav .nav-link {
    color: #ffffff;
    /*font-weight: bolder;*/
}
.bg-white #navbarNav .navbar-nav .nav-link {
    color: #000000;
    /*font-weight: bolder;*/
}
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand-white {
    color: #ffffff  !important;
    font-weight: bold;
}

.navbar-expand-lg {
    -webkit-transition: all .35s;
    transition: all .35s;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 10;
    width: 5%;
}
.carousel-control-next span, .carousel-control-prev span {
    font-size: 44px;
}
.main-carousel-item {
    max-height: 100vh;
    min-height: 360px;
}
.carousel-caption {
    background-color: rgba(2, 2, 2, 0.35);
    left: 0;
    bottom: 0;
}
.carousel-caption .caption-text {
    position: absolute;
    top: calc(50% - 163px);
    text-shadow: 1px 1px 0 black;
}
#navbarNav .nav-item .login:hover {
    color: #ffffff;
}

.carousel-icon{
    background-color: #000 !important;
    border-radius: 25px !important;
    border: #000 4px solid;
}

/*main card*/

.card:hover {
    box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.10)!important;
}

.card-size{
    min-width: 310px;
    max-width: 345px;
}

.card-image-size{
    height: 50px;
    width: 50px;
}

.poundSign:before{
    content: '£';
}

.image-size{
    min-height: 285px;
}

/*carousel*/

.image-size-responsive{
    min-height: 150px !important;
}

.card-size-responsive{
    min-width: 220px !important;
    max-width: 300px !important;
}

.font-responsive{
    font-size: 100% !important;
}

.font-responsive-1{
    font-size: 2vmax !important;

}

.font-responsive-2{
    font-size: 1vmax !important;
}

/* styling for main site */

.title-spacing{
    letter-spacing: 5px;
}

.title-height{
    height: 32%;
}

.background-none{
    background-color: transparent;
}

.logo-font-width{
    width: 120px;
}

/*basket adjustment */

.basket-vertical-align{
    vertical-align: top !important;
}

.basket-max-height{
    max-height: 29px !important;
    min-height: 29px !important;
}

/* back to top button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    /* background-color: black !important; */
    border-radius: 25px;
}

.btt-link,
.update-link,
.remove-item  {
    cursor: pointer;
}

/*authorisation*/

.form-width{
    min-width: 430px !important;
}

/* Sticky footer styles */


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f8f9fa !important;
    z-index: 999;
}

.bg-black{
    background-color: #000000;
}

.footer > p {
      line-height: initial;
}

.footer a {
    color: #f8f9fa !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */


.basket-notification-wrapper {
    max-height: 335px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* show on hover basket preview */

.hide-test {
    display: none;
}

.show-basket-test:hover + .hide-test {
    display:block;
    position:absolute;
    z-index: 999999;
    width: 340px;
    left: calc(100% - 340px) ;  /*calc(100% - 192px)*/
    top: 72px;
    right: 15px;
}

.basket-preview-wrapper {
    max-height: 370px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* sticky checkout */
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  
  aside {
    position: sticky;
    top: 90px;
    align-self: start;
  }

/* authorizations pages */
  .auth-pages {
    box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.10)!important;
    border: 1px solid rgba(207, 207, 207, 0.966) !important;
}


/*mailchimp*/

#mc_embed_signup {
    /*background: #fff;*/
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    /*width: 600px;*/
}
        
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3546;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3546;
    border-radius: 0;
}

/* Gallery album */

.album_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    grid-auto-rows: 600px;
    grid-gap: 10px;
}

.row_span_2 {
    grid-row: span 2;
}

.album_item {
    width: 100%;
    Height: 100%;
    position: relative;
    background-color: rgba(2, 2, 2, 0.35) !important;
}

.album_item .image {
    width: 100%;
    Height: 100%;
    overflow: hidden;
}

.album_item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album_item:hover .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: image-zoom-out;
    animation-duration: .5s;
    animation-fill-mode:forwards;
}

 @keyframes image-zoom-out {

    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
 }

 .album_item .image_description {
    opacity: 1;
    position: absolute;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    color: #E7F0EF;
    z-index: 3;
    background-color: rgba(2, 2, 2, 0.35) !important;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

 .album_item .image_description h1 {
     color:#E7F0EF;
     font-size: 2rem;
     letter-spacing: 0.3rem;
     text-transform:capitalize;
     text-align: center;
     margin: 0.5rem 0;
 }
 .album_item .image_description p {
    color:#E7F0EF;
    font-size: 1rem;
    text-align: center;
    margin: 10px;
}

.album_item:hover .image_description {
    opacity: 1;
    animation-name: text_fade_in;
    transition: opacity .5s;
    transition-delay: .3s;   
 }

 .bronze-color{
    background-color: #CD7F32 !important;
    border: #CD7F32 solid 1px !important;
 }

 .silver-color{
    background-color: #C0C0C0 !important;
    border: #C0C0C0 solid 1px !important;
    color: #000 !important;;
 }

 .gold-color{
    background-color:  #FFD700 !important;
    border:  #FFD700 solid 1px !important;
    color: #000 !important;;
 }

 .header-container {
    padding-top: 55px;
}

/* google maps*/

iframe{
    width:100%;
    height:100%;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1280px !important;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1400px !important;
    }
}

@media (min-width: 1425px) {
    .d-block-large{
        display:flex!important;
    }

    .header-container {
        padding-top: 55px;
    }

    .mob-nav-header{
        display: none;
    }
}

/*---------------------------- 1024 --------------------------------------*/
@media screen and (min-width: 1024px) {
    .mob-nav-header{
        display: none;
    }
}

@media screen and (max-width: 1024px) {


    /* gallery images*/

    .album_container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
    }

    .album_item .image_description h2 {
        font-size: 1.3rem;
        margin-top: 18%;
    }

    .album_item .image_description h4 {
    font-size: 0.9rem;
    }

    .album_item .image_description a {
        font-size: 0.9rem;
        }
    

    .album_item .resp_text h1 {
        margin-top: 40%;
    }

    .header-container {
        padding-top: 55px;
    }
}

/*---------------------------- 991 --------------------------------------*/

@media (max-width: 991px) {
    .main-carousel-item {  
        height: auto;
        max-height: 500px;
    }
    #navbarNav .navbar-nav .nav-link {
        color: #000;
    }
    .navbar-light {
        background-color: #ffffff !important;
        padding-top: 8px !important;
    }
    .navbar-brand {
        opacity: 1;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 15%;
    }
    .d-block-mid{
        display: none;
    }
    .btn-smaller{
        padding:3px;
    }
    .input-smaller{
        padding-bottom: 0px;
        padding-top: 0px;
        height:32px;
    }
    
    .nav-mob-logo{
        color: #000000;
    }

    .mob-nav-header-hide{
        display: none;
    }

    .basket-max-height{
        max-height: 40px !important;
        min-height: 40px !important;
        width: auto !important;
        min-width: 100px !important;
    }

    .d-show-buttons{
        display: block !important;
        text-align: right !important;
    }

    .header-mobile{
        padding-top:50px !important;
    }

    .hide-test {
        display: none !important;
    }

    .show-basket-test:hover + .hide-test {
        display: none !important;;
        position:absolute;
        z-index: 999999;
        width: 340px;
        left: -93px;
        top: 72px;
        right: 15px;
    }

    .hide-preview-mobile{
        display:none !important;
    }

    body {
        padding-bottom: calc(30vh);
    }
}


/* fixed top navbar only on medium and up */
@media (min-width: 991px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 55px;
    }

    .mob-nav-header{
        display: none;
    }
}


/*---------------------------- 786 --------------------------------------*/


@media (max-width: 792px) {
    .d-block-sml{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .btn-smaller{
        padding:3px;
    }

    .input-smaller{
        padding-bottom: 0px;
        padding-top: 0px;
        height:32px;
    }

     /* gallery images*/

    .album_container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 300px;
    }
     
   .album_item .image_description h2 {
        font-size: 1.3rem;
        margin-top: 18%;
   }

   .album_item .image_description h4 {
       font-size: 0.9rem;
   }

   .album_item .image_description a {
    font-size: 0.9rem;
    }
   
   .album_item .resp_text h1 {
        margin-top: 40%;
   }
   .no-pading{
    padding-left: 0 !important;
    padding-right: 0 !important;
   }

   .mob-nav-buttons{
    padding: 10px !important;

   }

   .hide-test {
    display: none !important;
    }

    .show-basket-test:hover + .hide-test {
        display: none !important;;
        position:absolute;
        z-index: 999999;
        width: 340px;
        left: -93px;
        top: 72px;
        right: 15px;
    }

    .hide-preview-mobile{
        display:none !important;
    }
}


@media screen and (min-width: 768px) {
    .card-size{
        min-width: 310px;
        max-width: 345px;
    }
}

/*---------------------------- 548 --------------------------------------*/


@media screen and (max-width: 548px) {
    /* product card images*/

    .album_container {
        grid-template-columns: 1fr; 
        grid-auto-rows: 300px ;
    }

    .album_item .image_description h2 {
        font-size: 1.3rem;
        margin-top: 18%;
    }

    .album_item .image_description h4 {
    font-size: 0.9rem;
    }

    .album_item .image_description a {
        font-size: 0.9rem;
        }

    .album_item .resp_text h1 {
        margin-top: 40%;
    }

    .text-sm-center{
        text-align: center !important;
        padding-left: 0px !important;
    }

    .hide-test {
        display: none !important;
    }

    .show-basket-test:hover + .hide-test {
        display: none !important;;
        position:absolute;
        z-index: 999999;
        width: 340px;
        left: -93px;
        top: 72px;
        right: 15px;
    }

    .hide-preview-mobile{
        display:none !important;
    }
}