html {
    height: 100%;
    margin: 0;
}

body {
    height: calc(100vh - 165px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}


.border-black {
    border: 1px solid black !important;
}

/*navbar*/
#navbarNav .navbar-nav .nav-link {
    color: #ffffff;
    /*font-weight: bolder;*/
}
.bg-white #navbarNav .navbar-nav .nav-link {
    color: #000000;
    /*font-weight: bolder;*/
}
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand-white {
    color: #ffffff  !important;
    font-weight: bold;
}

.navbar-expand-lg {
    -webkit-transition: all .35s;
    transition: all .35s;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 10;
    width: 5%;
}
.carousel-control-next span, .carousel-control-prev span {
    font-size: 44px;
}
.main-carousel-item {
    height: 100vh;
    min-height: 360px;
}
.carousel-caption {
    background-color: rgba(2, 2, 2, 0.35);
    left: 0;
    bottom: 0;
}
.carousel-caption .caption-text {
    position: absolute;
    top: calc(50% - 163px);
    text-shadow: 1px 1px 0 black;
}
#navbarNav .nav-item .login:hover {
    color: #ffffff;
}

/* Sticky footer styles */


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000 !important;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 1; /* Vertically center the text there */
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer > p {
      line-height: initial;
}

.footer a {
    color: #000000 !important;
}
  


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .main-carousel-item {
        height: auto;
        max-height: 640px;
    }
    #navbarNav .navbar-nav .nav-link {
        color: #000;
    }
    .navbar-light {
        background-color: #ffffff !important;
        padding-top: 8px !important;
    }
    .navbar-brand {
        opacity: 1;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 15%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1280px !important;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1400px !important;
    }
}