{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}
{% block page_header %}
<div class="header-container header-mobile">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container h-100 text-center d-flex justify-content-center">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-5 logo-font text-black">
                The page you are looking for not found.
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" 
                        class="btn btn-primary gold-color my-3 text-white text-uppercase font-weight-bold title-spacing px-5">
                            Return to Home Page
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock %}