<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false" data-delay="10000">
    <!--<div class="arrow-up arrow-success"></div>-->
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Basket Preview</strong>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
        {% if grand_total %}
            <p class="logo-font bg-white text-black pt-1 pb-1 mb-0">Your basket ({{ product_count }})</p>
                {% if product_count > 11 %}
                    <p class=" small text-black pb-1 mb-0"> Some items are hidden, open basket to view all items.</p>
                {% else %}
                {% endif %}
            <hr class="mt-1 mb-1">
            <div class="basket-preview-wrapper">
                {% for item in basket_items %}
                    <div class="row">
                        <div class="col-2 my-1">
                            <img class="w-100" src="{{ item.product.image.url }}">
                        </div>
                        <div class="col-10">
                            <p class="my-0 small"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}
                                <span class="my-0 ml-2 small text-muted">Size: {{ item.product.size|upper }}</span></p>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr class="mt-1 mb-1">
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1 text-black px-5 text-uppercase">
                        Total {% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                        <span class="float-right poundSign currency">{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 p-2 bg-warning shadow-sm text-black text-center">
                            Spend <strong class="poundSign currency">{{ free_delivery_delta }}</strong> more to get free delivery!
                        </p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="bg-white text-black py-1">Your basket is Empty.</p>
        {% endif %}
    </div>
</div>