 <!-- FOOTER -->

 <footer class="footer align-items-center bg-black text-light mt-5">
      <div class="bg-black pt-5">
        <div class="text-center text-lg-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="text-light" href="{% url 'about' %}">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="bg-black text-center py-3 text-lg-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    <p class="bg-black text-light small text-center py-2 mb-0">&copy; By Edgaras Spiridonov for Code Institute 2022</p>
  </footer>
