.navbar-expand-lg {
    padding-top: .5rem !important;
    background-color: #ffffff;
}
#navbarNav .navbar-nav .nav-link {
    color: #000;
}

.nav-logo {
    color: #000000 !important;
    font-weight: bold;
    text-decoration: none !important;
}

.brand-home {
    opacity: 1 !important;
}
.bike-img {
    width: 100%;
    max-width: 800px;
    height: auto;
}


/* THIS "static/css/page_navbar" IS TEST FOR INHERIT EXTRA CSS BLOCK FOR AUTH, NOT WORKING*/