{% extends "account/base.html" %}

{% load i18n %}

{% block extra_css %}
<style>
  .navbar-expand-lg {
    padding-top: .5rem !important;
    background-color: #ffffff;
  }

  #navbarNav .navbar-nav .nav-link {
    color: #000;
  }

  .nav-logo {
    color: #000000 !important;
    font-weight: bold;
    text-decoration: none !important;
  }

  .brand-home {
    opacity: 1 !important;
  }

  .bike-img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
</style>
{% endblock %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block page_header %}
<div class="header-container header-mobile mt-5 pt-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container text-center">
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.</p>
    <p class="mt-2"> Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <div class=" row text-center justify-content-center">
        <a href="{% url 'contact' %}"
        class=" btn  text-center text-uppercase border silver-color  font-weight-bold mx-3 m-2 px-3">Contact Us</a>
        <a href="{% url 'profile' %}"
        class=" btn  text-center text-uppercase border gold-color  font-weight-bold mx-3 m-2 px-3">Back to Login Page</a>
    </div>
</div>

<!--Nav style inherited from MAIN base.html-->

<!--D-->

{% include "includes/footer.html" %}
{% endblock %}
