{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/nav-bar.js' %}"></script>
  <script src="{% static 'js/currency.js' %}"></script>

  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Cyclo Domestique {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top pt-4 pr-4" id="MainNavbar">
      <!--logo start-->
      <a href="/" class="navbar-brand brand-home logo-font ">Cyclo Domestique</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--logo end-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link logo-font dropdown-toggle" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price Lowest</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">Price Highest</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item ">By Brand</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
          <!--categories start-->
          <li class="nav-item dropdown">
            <a class="nav-link logo-font dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Bikes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="{% url 'products' %}?category=road_bikes">Road Bikes</a> <!-- tik vardas-->
              <a class="dropdown-item" href="{% url 'products' %}?category=mountain_bikes">Mountain Bikes</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=kids_bikes">Kids Bikes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products' %}?category=road_bikes,mountain_bikes,kids_bikes">Show All</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link logo-font dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Parts
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="{% url 'products' %}?category=wheel_hubs">Wheel &amp Hubs</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=tyres_tubes">Tyres &amp Tubes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products' %}?category=wheel_hubs,tyres_tubes">Show All</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link logo-font dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Tools
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" href="{% url 'products' %}?category=bike_stands">Bike Work Stands</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=multi_tools">Multi Tools</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=track_pump">Track Pump</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=lubes_grease">Lubes &amp Grease</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products' %}?category=track_pump,bike_multi_tools,stands, lubes_grease">Show All</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link logo-font dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Service
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown4">
              <a class="dropdown-item" href="{% url 'products' %}?category=gold_service">Gold Service</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=silver_service">Silver Service</a>
              <a class="dropdown-item" href="{% url 'products' %}?category=bronze_service">Bronze Service</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'products' %}?category=gold_service,silver_service,bronze_service">Show All</a>
            </div>
          </li>
          <li class="nav-item logo-font">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item logo-font">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <!--categories end-->
          
          <!--all auth account menu start-->
          <div class="col-12 col-lg-4 my-auto mr-5 py-lg-0">
            <ul class="list-inline list-unstyled my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center">
                          <p class="my-0 logo-font"><i class="fas fa-user fa-lg"></i></p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="#" class="dropdown-item">Inventory</a>
                                <div class="dropdown-divider"></div>
                            {% endif %}
                            <!-- <a class="dropdown-item">Hi, {{ user.username }}</a> -->
                            <a href="#" class="dropdown-item">Account</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                <!--basket start-->
                <li class="list-inline-item">
                    <a class="font-weight-bold text-black nav-link" href="#">
                        <div class="text-center">
                          <p class="my-0  logo-font"><i class="fas fa-shopping-bag fa-lg"></i>
                              <!--$0.00 -->
                          </p>
                        </div>
                    </a>
                </li>
                <!--basket end-->
            </ul>
        </div>     
      </div>
    </nav>
    <!--end navbar-->
  </header>

  <!-- FOOTER -->
  <footer class="footer bg-dark text-light">
    <div class="container py-2">
        <div class="row ">
          <div class="col-lg-6 text-center text-lg-left" >
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="text-light" href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/contact">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
            <div class="col-lg-6 text-center text-lg-right">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                    <a href="#">
                      <i class="fab fa-facebook fa-2x fa-fw"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mr-3">
                    <a href="#">
                      <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram fa-2x fa-fw"></i>
                    </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="bg-dark text-light small text-center py-2 mb-0">&copy; By Edgaras Spiridonov for Code Institute 2022.</p>
</footer>



  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block page_header %}


  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}


</body>

</html>