{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="ml-3">
    <div class="col-md-12 px-0 mb-1">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0 mb-0  small">
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/">/home</a></li>
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/contact/all-messages">all-messages</a></li>
          </ol>
        </nav>
    </div>
</div>
<div class="container header-mobile">
    <div class="row">
        <div class="col">
            <h3 class="text-black text-uppercase font-weight-bold mb-3 text-left"> Site Messages History</h3>
        </div>
    </div>
    <div class="row mt-1 mb-2">
        <div class="col-6">
            <a class="btn btn-sm my-3 text-white text-left" href=""></a>
        </div>
        <div class="col-6  my-auto  order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}black{% else %}black{% endif %}">
                    <option value="status_desc" {% if current_sorting == 'status_desc' %}selected{% endif %}>Status (A-Z)</option>
                    <option value="status_asc" {% if current_sorting == 'status_asc' %}selected{% endif %}>Status (Z-A)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="product-container col-12 d-none d-show-buttons">
        <div class="row justify-content-around-2 pb-4">
            {% for contact in all_messages %}
                <div class="col mb-4 card-size pr-1">
                        <div class="card h-100 text-black bg-light" >
                            <div class="card-body d-block align-self-stretch py-1 px-3">
                                
                                <div class="pt-2 text-right">
                                    <p class="text-black text-uppercase">Message Status: 
                                    {% if contact.status == 1 %}
                                        <span class="p-1 rounded bg-danger text-white ml-2 px-2 py-1 small">Pending</span>
                                    {% elif contact.status == 2 %}
                                        <span class="p-1 rounded bg-success text-white ml-2 px-2 py-1">Done</span>                                     
                                    {% else %}
                                        <span class="p-1 rounded bg-primary text-white ml-2 px-2 py-1">New</span>  
                                    {% endif %}
                                    </p>
                                </div>
                                <div class="dropdown-divider mt-1"></div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">Received Date: </span>{{ contact.received_date }}</div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">subject_type: </span> {{ contact.subject_type }} </div>
                                <div class="dropdown-divider mt-1"></div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">First Name: </span>{{ contact.first_name }}</div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">Last Name: </span>{{ contact.last_name }}</div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">Contact Number: </span>{{ contact.contact_number }}</div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">Email: </span>{{ contact.email_address }}</div>
                                <div class="dropdown-divider mt-1"></div>
                                <div class="small pt-2 text-left"><span class="font-weight-bold pr-2">Client Message: </span>{{ contact.message }}</div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class=" row pb-2 justify-content-center ">
                                <a class="btn btn-secondary text-white py-0 px-1 px-2 mr-1" href="{% url 'view_message' pk=contact.pk %}"><i class="fas fa-eye pr-2"></i>View</a>
                                <a class="btn btn-success text-white py-0 px-1 px-2 mr-1" href="{% url 'edit_message' pk=contact.pk %}"><i class="fas fa-pencil-alt pr-2"></i>Edit</a>
                                <a class="btn btn-danger text-white py-0 px-1 px-2 mr-1" href="{% url 'delete_message' pk=contact.pk %}"><i class="far fa-times-circle pr-2"></i>Delete</a>
                            </div>
    
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mob-nav-header-hide">
        <div class="col-12">
            <div class="order-history table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="rounded">
                        <tr class="text-light bg-dark rounded py-1 px-1">
                            <th class="font-weight-normal small">Status</th>
                            <th class="font-weight-normal">Subject</th>
                            <th class="font-weight-normal">Name</th>
                            <th class="font-weight-normal">Surname</th>
                            <th class="font-weight-normal">Number</th>
                            <th class="font-weight-normal">Email</th>
                            <th class="font-weight-normal">Message</th>
                            <th class="font-weight-normal small">Received On</th>
                            <th class="font-weight-normal small">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in all_messages %}
                            <div>
                                <tr class="border-bottom">
                                    <td class="pt-2 small ">
                                        {% if contact.status == 1 %}
                                            <span class="p-1 rounded bg-danger text-white ">Pending</span>
                                        {% elif contact.status == 2 %}
                                            <span class="p-1 rounded bg-success text-white">Done</span>                                     
                                        {% else %}
                                            <span class="p-1 rounded bg-primary text-white">New</span>  
                                        {% endif %}
                                    </td>
                                    <td>{{ contact.subject_type }}</td>
                                    <td>{{ contact.first_name }}</td>
                                    <td>{{ contact.last_name }}</td>
                                    <td>{{ contact.contact_number }}</td>
                                    <td>{{ contact.email_address }}</td>
                                    <td>{{ contact.message }}</td>
                                    <td>{{ contact.received_date }}</td>
                                    <td> <div>
                                        <a class="btn btn-secondary btn-sm text-white py-0 px-1" href="{% url 'view_message' pk=contact.pk %}"><i class="fas fa-eye"></i></a>
                                        <a class="btn btn-success btn-sm text-white py-0 px-1" href="{% url 'edit_message' pk=contact.pk %}"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="btn btn-danger btn-sm text-white py-0 px-1" href="{% url 'delete_message' pk=contact.pk %}"><i class="far fa-times-circle"></i></a>
                                    </div></td>  
                                </tr>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}