{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="ml-3 header-container">
    <div class="col-md-12  px-0  mb-4">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0 mb-0 small ">
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/products">/products</a></li>
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="?category={{ product.category }}"> FIX {{ product.category }} </a></li>
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="">{{ product.sku }} </a></li>
          </ol>
        </nav>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col">
                <h2 id="productTitle" class="font-weight-bold">{{ product.brand }}</h2>
                <h3 id="productTitle" class="font-weight-bold">{{ product.name }}</h3>
                <div class="dropdown-divider col-11"></div>
            </div>
        </div>
    </div>
    <div class="row mt-1 ">

        <div class="col-7  mb-1 ">
            <div class="" >
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="" style="max-width: 620px !important;"  src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>

        <div class="col-4">
            <div class="w-100">
                <h5 class="mb-0 font-weight-bold">{{ product.name }}</h5>
                <h6 class="mt-2 w-100 font-weight-bold">{{ product.description }}</h6>

                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                
            </div>
            <div class="mt-3 w-100 new_height">
                <div class="product-details-container my-1">
                    <h6 class="text-black font-weight-bold">About Product:</h6>
                    <div class="dropdown-divider"></div>
                    <p class="mt-2 w-100">{{ product.full_description }}</p>
                </div>
            </div>
            <div class="mt-1 w-100 h-25">
                <h6 class="text-black font-weight-bold">Product Details:</h6>
                <div class="dropdown-divider"></div>
                <div class="row mx-1 mb-2 bg-light">
                    <small class="mt-2 w-50"><strong class="mr-3">Brand: </strong>{{ product.brand }}</small>
                    <small class="mt-1 w-50"><strong class="mr-3">Size: </strong>{{ product.size}}</small >
                    <small  class="mt-1 w-50"><strong class="mr-3">Color:</strong> {{ product.color }}</small >
                    <small  class="mt-1 w-50"><strong class="mr-2">Stock: </strong>{{ product.amount}}</small >
                    <small  class="mt-1 mb-2 w-50"><strong class="mr-2">Item No.:</strong>{{ product.sku}}</small >
                </div>
                <div class="dropdown-divider"></div>
                <div class="product-details-container mt-1 text-right ">
                    <p class="d-inline-flex align-items-end lead mb-1 text-right font-weight-bold poundSign currency">{{ product.price }}</p>
                    <p class="d-inline-flex align-items-end text-muted small text-right">VAT Included</p>
                </div>
                <div class="product-details-container mt-1 text-right">


                    <!--THIS-->

                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="w-100 ">
                            <div class="d-flex align-items-start justify-content-end">
                                {% if product.amount > 1 %}
                                    <p class="mt-3  mr-2 small align-items-start"><strong> Quantity:</strong></p>
                                    <div class="form-group mr-3">
                                        <div class="input-group d-flex align-items-start  justify-content-between">
                                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-success flex-column ml-4x float-right" value="Add to basket">
                                {% else %}
                                    <p class="mt-3  mr-2 small align-items-start text-danger" ><strong>Out of Stock</strong></p>
                                    <input type="submit" class="btn btn-success flex-column ml-4x float-right" disabled="disabled" value="Add to basket">
                                {% endif %}
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>


                      <!--THIS-->



                    
                    <!-- add if in stock show button disabled "out of stock" if in stock enabled success "Add To Basket"-->
                </div>
            </div>
        </div>
    </div>
    <h6 class="text-black font-weight-bold mt-3 ">Key Features:</h6>
    <div class=" w-100">
        <div class="dropdown-divider col-11"></div>
        <div class="col-11 bg-light ">
            <div class="product-details-container pt-1 pb-5">
                <p class="mt-2">{{ product.key_features }}</p>
            </div>
        </div>
        <div class="dropdown-divider col-11"></div>
    </div>
    <h6 class="text-black font-weight-bold mt-3 ">Product Reviews:</h6>
    <div class=" w-100">
        <div class="dropdown-divider col-11"></div>
        <div class="col-11">
            <div class="product-details-container pt-1 pb-5">
                <p class="mt-2">PLACEHOLDER</p>
            </div>
        </div>
        <div class="dropdown-divider col-11"></div>
    </div>
</div>
{% endblock %}