{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="ml-3">
    <div class="col-md-12 px-0 mb-1">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent pl-0 mb-0  small">
            <li class="breadcrumb-item"><a class="text-black text-lowercase" href="/products">/products</a></li>
            {% for c in current_categories %}
                <li class="breadcrumb-item"><a class="text-black text-lowercase" href="{% url 'products' %}?category={{ c.name }}"> {{ c.name }}</a></li>
            {% endfor %}
          </ol>
        </nav>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-12">
            <div class="col">
                {% if current_categories or current_sorting != 'None_None' %}
                    {% for c in current_categories %}
                    <h3 class="text-black text-uppercase font-weight-bold mb-3 text-center "> {{ c.friendly_name }}</h3>
                    {% endfor %}
                        <!--- NO LONGER WORKS IF REMOVED SORTING OPTIONS IN NAV, CURRENTLY COMMENTED OUT IN BASE-->
                        {% if current_categories or current_sorting == 'None_None' %} 
                        {% else %} 
                        <h3 class="text-black text-uppercase font-weight-bold mb-3 text-center "> Our Products 2 </h3> 
                            <!--- FIXED TO SHOW FRIENDLY TITLE-->
                        {% endif %}
                {% else %}
                <h3 class="text-black text-uppercase mb-3 font-weight-bold text-center "> Our Products</h3>
                {% endif %}
            </div>
            <div class="product-container col-11">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first pl-0">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if products|length > 1  %} 
                                <a>Found {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</a>
                            {% else %}
                                {% if products|length == 0  %} 
                                    <a>Found {{ products|length }} No Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</a>
                                {% else %} 
                                    <a>Found {{ products|length }} Product{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</a>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-container">
        <div class="row">
            {% for product in products %}
                <div class="col mb-4 card-size">
                    <a href="/product/{{ product.name }}" class="text-decoration-none " >
                        <!-- Update -->
                        <div class="card h-100 " >
                            {% if product.image %}
                            <a class=" image-size" href="{% url 'product_details' product.id %}">
                                <img class="card-img-top img-fluid  align-middle" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a class=" image-size" href="{% url 'product_details' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body d-block align-self-stretch">
                                <div class="small"> {{product.brand}} </div>
                                <div class="dropdown-divider"></div>
                                <h5 class="card-title mb-0" style="height: 32%"> {{ product.name }}</h5>
                                <p class="card-text" style="height: 30%">{{product.description}}</p>
                                <div class="d-flex align-items-center justify-content-end mt-1">
                                    <span class="lead text-success poundSign"> {{product.price}}</span>
                                    <!-- <div class="currency">1000</div> # TOBEFIXED currency.js -->
                                    <!--<a href="/product/{{ product.name }}" class="btn btn-secondary btn-sm ml-4">Details</a> -->
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="card-footer bg-white pt-0 border-0 d-flex align-items-end justify-content-between">
                                <div class="dropdown-divider"></div>
                                <small class=""><strong>Size:</strong> {{product.size}}</small>
                                <small class=""><strong>Color:</strong> {{product.color}}</small>
    
                                {% if product.rating %}
                                <small class=""><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                <small class="">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}