{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/page_navbar.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/currency.js' %}">async</script>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="font-weight-bold mb-3">{{ category.name }}</h2>
        </div>
    </div>
    <div class="product-container">
        <div class="row">
            {% for product in products %}
                <div class="col mb-4 card-size">
                    <a href="/product/{{ product.name }}" class="text-decoration-none " >
                        <!-- Update -->
                        <div class="card h-100 " >
                            {% if product.image %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body d-block align-self-stretch">
                                <h5 class="card-title" style="height: 35%">{{ product.name }}</h5>
                                <p class="card-text" style="height: 30%">{{product.description}}</p>
                                <div class="d-flex align-items-center justify-content-end mt-1">
                                    <span class="lead text-success"> {{product.price}}</span>
                                    <!-- <div class="currency">1000</div> # TOBEFIXED currency.js -->
                                    <!--<a href="/product/{{ product.name }}" class="btn btn-secondary btn-sm ml-4">Details</a> -->
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="card-footer bg-white pt-0 border-0 d-flex align-items-end justify-content-between">
                                <div class="dropdown-divider"></div>
                                <small class=""><strong>Size:</strong> {{product.size}}</small>
                                <small class=""><strong>Color:</strong> {{product.color}}</small>
    
                                {% if product.rating %}
                                <small class=""><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                <small class="">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}